html{
    scroll-behavior: smooth;
}

body{
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

    background-attachment: fixed;

    min-height:100vh;
    margin:0;
}
.navbar{

    background-color:aqua;
    width:100%;
    height:80px;


    position:fixed;
    top:0;
    left:0;
    z-index:1000;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing:border-box;

}

.navlist{

    list-style: none;
    display:flex;
    flex-wrap: wrap;
    gap:40px;
    font-weight:bold;
    font-size:20px;


}

.navlist li a{
    text-decoration: none;
    color:white;
}

.front{
    margin-top: 500px;
}
.front h1{
    color:black;
    font-size: 80px;
    margin-left: 50px;
    margin-bottom: 0px;
    font-family:Science Gothic;

}
.front div{
    font-family: trade winds;
    margin-top:0;
    margin-left:400px;
    font-size:20px;
}
.search{

    height:40px;
    width:100%;
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 5px;
    border-style: solid;
    border-color: gray;
    border-width:2px;
    font-size:20px;
    left:35%;


}
.search:hover{
    cursor:pointer;
}
.search::placeholder{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;

}
.search-box{
    height:40px;
}
.search-button{
    width:70px;
    margin-left:-17px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: solid;
    border-color: gray;
}
.search-button:hover{
    cursor:pointer;
}
.search-items{
    display:flex;
    flex:1;
    margin-left:100px;
    margin-right:300px;
}
.logo{
    width:120px;
    margin-right:20px;
    border-radius:20px;


}
.left{
    justify-items: right;


}
.right{
    justify-items: left;
}
#details{
    margin-top: 150px;
    margin-left:20px;
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;





    gap:150px;    
    
}
#cityn{
    font-family:tiktok sans ;
    font-size: 60px;
    margin-bottom:0px;
}
#details h2{
    margin-top: 0px;
    margin-bottom: 0px;
    max-width:250px;
}
#details h3{
    color:black;
    margin-top: 0px;
    margin-left: 80px;
}
#temp{
    font-size: 70px;
    font-family: Solway;
    margin-top:90px;

}
#icon{
    width:180px;
    margin-right:0px;
}

.weather{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:0px;
    margin-top:40px;
    margin-right:30px;
    justify-self:left;
    margin-bottom:0px;

}
.city_details{
    margin-top:100px;
    justify-self:right;
    align-items: center;
}
#feel{
    margin-top:-10px;
    font-weight: bold;
    font-size:18px;
    margin-left:60px;
}
.left-details{
    margin-top:30px;
    font-family: Solway;
    font-size:20px;
}
.right-details{
    margin-top:10px;
    font-family: Solway;
    font-size:20px;
}
#error{
    font-size:60px;
    text-align: center;

}
@media(max-width:768px){
    #cityn{
        font-size:30px;
    }
    #state{
        font-size:15px;
    }
    #time{
        font-size:15px;
    }
    #icon{
        width:80px;
    }
    #feel{
        font-size: 15px;
        margin-left:0px;
    }
    .left-details{
        font-size:15px;
    }
    .right-details{
        font-size:15px;
        margin-top:40px;
    }

    #temp{
        font-size:30px;
        margin-top:90px;
    }
    #details{
        gap:50px;
    }
    .front h1{
        font-size:40px;
    }
    .front div{
        font-size:15px;
        margin-left:50px;
    }


}

